[submodule "thirdparty/megatron-lm"]
	path = thirdparty/megatron-lm
	url = https://github.com/jeromeku/megatron-lm
[submodule "thirdparty/mbridge"]
	path = thirdparty/mbridge
	url = https://github.com/jeromeku/mbridge
[submodule "experiments/thirdparty/transformerengine"]
	path = thirdparty/transformerengine
	url = https://github.com/jeromeku/transformerengine
[submodule "thirdparty/transformerengine"]
	path = thirdparty/transformerengine
	url = https://github.com/jeromeku/transformerengine
